.contact {
  background-color: whitesmoke;
}
.header {
  background: var(--color-orange-light);
  height: 10rem;
  & > div {
    display: grid;
    gap: 2rem;
    h1 {
      text-align: center;
      font-size: 4rem;
      font-family: var(--font-playfair);
      font-weight: bold;
      display: grid;
      place-items: center;
    }
  }
}
.aboutInner {
  color: black;
  font-family: var(--font-lato);
  display: grid;
  gap: 2rem;
  padding: 3rem;
  width: 50vw;
  min-width: 500px;
  margin: auto;
  @media screen and (max-width: 1000px) {
    // max-width: 200px;
    width: 100%;
    min-width: 0px !important;
    padding: 1rem;
    margin: 0;
  }
  h2 {
    font-size: 1.4rem;
    text-align: center;
  }
  .points {
    display: grid;
    gap: 1rem;
    h2 {
      font-weight: bold;
      font-size: 1.6rem;
      text-align: left;

      color: var(--color-orange);
      font-family: var(--font-playfair);
    }
    p {
      font-size: 1.4rem;
      color: rgba(0, 0, 0, 0.7);
    }
  }
}
