.bg {
  background: var(--color-green);
}
.header {
  gap: 2rem;
  display: grid;
  h1 {
    text-align: center;
    font-size: 4rem;
    text-transform: capitalize;
    font-family: var(--font-playfair);
    font-weight: 600;
    color: white;
  }
}
.inner {
  background: whitesmoke;
  // min-height: 20rem;
  padding: 4rem;
  & > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}
