.CardLink {
  &::before {
    width: 0;
  }
}

.card {
  padding: 1rem;
  width: max-content;
  border-radius: 0.6rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: grid;
  gap: 0.3rem;
  .row {
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.3rem;
    width: 250px;
    overflow: hidden;
    height: 1.4rem;
  }
  transition: all 200ms ease;
  &:hover {
    transform: translateY(-1rem);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}

.Img {
  height: 10rem;
  width: 10rem;
  position: relative;
}
